body {
    font-family: Arial, sans-serif;
    background-image: url('images/military_texture.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen de fondo se quede fija al hacer scroll */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente para mayor legibilidad */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#rechargeForm,
#generateForm {
    margin-top: 20px;
}

#rechargeForm h2,
#generateForm h2 {
    color: #333;
}



.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

#rechargeForm form,
#generateForm form {
    display: flex;
    flex-direction: column;
}

#rechargeForm form label,
#generateForm form label {
    margin: 10px 0 5px;
}

#rechargeForm form input,
#rechargeForm form select,
#generateForm form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

.ver-button {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ver-button:hover {
    background-color: #218838;
}

#verMas {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

#verMas:hover {
    text-decoration: underline;
}
